{% extends "base.html" %}
{% block title %}Verkefni 3{% endblock %}
{% block content %}
    <h1>
        Verð á eldsneiti á íslandi
    </h1>
    <div class="listi">
        <table>
        {%for item in data["results"]%} <!-- data sem ég sendi frá app.py og tek resault sem er  strengur sem við rennum í gegnum og finnum company-->
            <tr> <!--tr Table row, td table data sækir gögn beint frá síðunni ekki minni -->
                <td>{{item.company}} </td><td>{{item.name}}</td><td>Verð 95 okt: <b>{{item.bensin95}} kr</b></td><td>Verð Diesel: <b>{{item.diesel}} kr</b></td>
            </tr>
        {%endfor%}
        </table>
    </div>
    <p><a href="/">Forsíða</a></p>
{% endblock %}