{% extends "base.html" %}
{% block title %}Elsneitisverð{% endblock %}
{% block content %}
    <div class="wrapper">
        {% set oneCo = [] %}
        {%for item in data["results"]%} <!-- data sem ég sendi frá app.py og tek resault sem er  strengur sem við rennum í gegnum og finnum company-->
            {% if item.company not in oneCo %}
                {% do oneCo.append(item.company) %}
                <div class="box">
                    <a href="/company/{{item.company}}"> <!-- hér förum við yfir á route sem heitir company/item.company eða /<company> í app.py-->
                        <img src="static/{{item.company}}.png" title="{{item.company}}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <p><a href="/">Forsíða</a></p>
{% endblock %}